[Unit]
ConditionKernelCommandLine=

[Service]
ExecStart=
ExecStart=-/usr/bin/afterburn --provider=azure --check-in

[Install]
WantedBy=multi-user.target