[Unit]
# This unit runs right after the repart service is done and
# the scratch partition appears
Description=Format LUKS Scratch Partition
Requires=systemd-repart.service
After=systemd-repart.service
BindsTo=dev-disk-by\x2dpartlabel-scratch.device
Before=kata-agent.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/format-scratch.sh

[Install]
WantedBy=sysinit.target